h1{
    color: red;
    background-color: yellow;
}

h2{
    color: green;
}

h1{
    color: blue;
}

b{
    background-color: blue;
    color: white;
}

span{
    background-color: red;
    color: white;
}
p{
    background-color: red;
}